# Ignore environment variables
.env

# Ignore dependencies
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore uploads/temp if needed
server/temp
server/invoices
server/images
